<!-- goes to Symptoms Page -->
 <!DOCTYPE html>
 <html>
    <head> </head>

    <body>
        <button class = "bigHomeButton" onclick = goToSymptoms()> GO TO SYMPTOMS PAGE </button>
        <button class = "contactButton" onclick = goToContacts()> CONTACT TRUSTED PERSON </button>

        <style>
            .bigHomeButton 
            {
                color: pink;
            }

            .contactButton
            {
                color: pink;
            }
        </style>
    </body>


 </html>