<!-- goes to Symptoms Page -->
 <!DOCTYPE html>
 <html>
    <head> </head>

    <body>
        <button class = "bigHomeButton" onclick = goToSymptoms()> GO TO SYMPTOMS PAGE </button>
        <br>
        <button class = "bigHomeButton" onclick = goToContacts()> CONTACT TRUSTED PERSON </button>

        <style>
            *{
                text-align: center;
                display: absolute;
            }
            .bigHomeButton 
            {
                color: pink;
                font-size: 72px;
            }
        </style>
    </body>


 </html>