<!DOCTYPE html>
<head>
    <title> Are You Sure? </title>
    <meta charset="utf8">
</head>
<body>
    <h1> WOOOOO!!!! </h1>

    <strong> How are you feeling sweetie? </strong>
    <input type = "radio" name = "liveAnneReaction">
    <strong> Great! </strong>
    <input type = "radio" name = "liveAnneReaction">
    <strong> Bad</strong>
    <h3> YEAAAAAAAA!!! </h3>
</body>
```html
<style>
.button {
    padding: 15px;
    background-color: #4CAF50;
    color: rgb(211, 11, 11);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
</style>